.rbc-today {
  background-color: #dcefe1;
}

.rbc-event {
  background-color: #3d8c62 !important;
  cursor: pointer;
}

.rbc-allday-cell {
  display: none;
}

.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-events-container {
  margin-right: 0px !important;
}
