---

import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

import AddProfile from "../components/AddProfile.astro";
import Profiles from "../components/Profiles.tsx";

const authenticated = Astro.cookies.has("__session")
---

<Layout title="About Us">
  <Section>
    <p class="text-3xl font-semibold p-3">
      Giving every student at Imperial the opportunity to
      hear and respond to the gospel of Jesus Christ.
    </p>
    <div class="p-3">
      <p>
        From churches across London (and the world), we
        unite on campus with the vision of spreading the
        good news of the gospel on campus.
      </p>
      <br />
      <p>
        We work with and are supported by UCCF. You can
        check out our <a
          class="underline hover:text-gray-300"
          href="https://www.uccf.org.uk/about/doctrinal-basis"
        >
          doctrinal basis</a
        >.
      </p>
      <br />
      <p>
        We're led by a small committee, but our events are
        organised and run by all of our members.
      </p>
    </div>
  </Section>
  <Section
    lightBackground
    additionalClass="md:items-stretch md:text-sm text-sm flex-wrap"
  >
    <Profiles client:only="react"/> 
  </Section>
  {authenticated && <Section lightBackground>
    <AddProfile />
  </Section>}
</Layout>
