---
import AddEvent from "../components/AddEvent";
import MyCalendar from "../components/Calendar";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

const authenticated = Astro.cookies.has("__session");
---

<Layout title="Calendar">
  <Section lightBackground additionalClass="text-leaf-600 md:flex-col">
    <MyCalendar client:only="react" />
    {authenticated &&
      <AddEvent client:only="react"/>
    }
  </Section>
</Layout>
