---
import MyCalendar from "../components/Calendar";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import Modal from "../components/Modal.astro";

const db = getFirestore(app);

const eventsSnapshot = await db.collection("events").get()
const events: any[] = []
eventsSnapshot.forEach((doc) => {
    const data = doc.data()
    try {
        events.push({title: data.title, start: data.date?.toDate(), end: data.date?.toDate(), allDay: false})
    } catch (error) {
        console.error(error)
    }
})

---

<Layout title="Calendar">
    <Section lightBackground additionalClass="text-leaf-600 md:flex-col">
        <MyCalendar events={events} client:only="react" />
        <Modal title="Add Event"/>
    </Section>
</Layout>