---
import MyCalendar from "../components/Calendar";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";

import Modal from "../components/Modal.astro";
import AddEventForm from "../components/AddEventForm";

const authenticated = Astro.cookies.has("__session");
---

<Layout title="Calendar">
  <Section lightBackground additionalClass="text-leaf-600 md:flex-col">
    <MyCalendar client:only="react" />
    {authenticated && <Modal title="Add Event">
      <AddEventForm client:only="react"/>
    </Modal>}
  </Section>
</Layout>
