---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import groupImage from "../assets/iccu1.jpeg";
import MailingForm from "../components/MailingForm.astro";
---

<Layout title="Imperial College Christian Union">
  <Section>
    <Image src={groupImage} alt="Group photo" width="500" />
    <div class="flex flex-col gap-5 md:gap-10">
      <p class="text-2xl text-center md:text-3xl">
        We are a community of Christians sharing the good
        news of Jesus Christ at Imperial College!
      </p>
      <div class="flex justify-center">
        <a
          href="https://www.imperialcollegeunion.org/activities/a-to-z/christian-union?check_logged_in=1"
          class="hover:bg-leaf-50 hover:text-leaf-500 bg-leaf-300 rounded-3xl px-4 py-2 text-center"
        >
          Join us!
        </a>
      </div>
    </div>
  </Section>
  <Section
    lightBackground
    additionalClass="items-stretch flex-wrap"
  >
    <p
      class="font-semibold text-leaf-600 text-3xl self-center"
    >
      Our Regular Events
    </p>
    <div
      class="box-border flex flex-wrap gap-5 flex-col md:flex-row items-stretch"
    >
      <EventCard
        title="Hub"
        description="Worship, learning and prayer focused on our CU vision. If you're already a Christian, this is the place to start!"
        path=""
        time="Thursday 6pm"
        location="RSM G20"
      />
      <EventCard
        title="Skeptical"
        description="Exploring deep questions through short lunchtime events. Bring your friends!"
        path=""
        notWeekly
        time="Friday 12-1pm"
        location="Union Meeting Room 1"
      />
      <EventCard
        title="Curious"
        description="A Bible study open to anyone and everyone, exploring the basics of the Christian faith."
        path=""
        time="Monday 12pm"
        location="tbd"
      />
    </div>
    <a
      href="/events"
      class="text-end w-full text-leaf-600 underline hover:text-leaf-800"
      >More details</a
    >
  </Section>
  <Section additionalClass="justify-between">
    <MailingForm />
  </Section>
</Layout>
