---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import groupImage from "../assets/iccu1.jpeg";
import MailingForm from "../components/MailingForm.astro";
---

<Layout title="Imperial College Christian Union">
  <Section>
    <div class="flex items-center justify-center flex-1">
      <Image
        src={groupImage}
        alt="Group photo"
        width="500"
      />
    </div>
    <div class="flex flex-row gap-3">
      <p class="text-center md:text-3xl">
        We are a community of Christians sharing the good
        news of Jesus Christ at Imperial College!
      </p>
      <a
        href="https://www.imperialcollegeunion.org/activities/a-to-z/christian-union?check_logged_in=1"
        class="hover:bg-leaf-50 hover:text-leaf-300 bg-leaf-300 rounded-3xl px-4 py-2 flex items-center"
      >
        Join!
      </a>
    </div>
  </Section>
  <Section lightBackground additionalClass="items-stretch">
    <EventCard
      title="Hub"
      description="Worship, learning and prayer focused on our CU vision. If you're already a Christian, this is the place to start!"
      path=""
      time="Thursday 6pm"
      location="RSM G20"
    />
    <EventCard
      title="Skeptical"
      description="Exploring deep questions through short lunchtime events. Bring your friends!"
      path=""
      notWeekly
      time="Friday 12-1pm"
      location="Union Meeting Room 1"
    />
    <EventCard
      title="Curious"
      description="A Bible study open to anyone and everyone, exploring the basics of the Christian faith."
      path=""
      time="Monday 12pm"
      location="tbd"
    />
  </Section>
  <Section additionalClass="justify-between">
    <MailingForm />
  </Section>
</Layout>
