---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Support Us">
  <Section>
    <p class="text-3xl font-semibold">
      Want to support us?
    </p>
    <ol
      class="pl-2"
      style={{ "list-style-type": "decimal" }}
    >
      <li>
        <strong>Pray</strong> - that we would continue to do
        God's will on campus and that those who hear the good
        new have soft hearts.
      </li>
      <li>
        <strong>Get involved</strong> - if you're a student and
        want to help us in our mission come along to <a
          class="underline hover:text-gray-300"
          href="/events">Hub</a
        >
        or our events.
      </li>
      <li>
        <a
          class="font-bold underline hover:text-gray-300"
          href="https://www.stewardship.org.uk/partners/20098524"
          >Donate</a
        > - through your generosity we are able to operate. Any
        money donated goes directly to funding our mission on
        campus.
      </li>
    </ol>
  </Section>
  <Section
    lightBackground
    additionalClass="md:flex-row-reverse text-leaf-500"
  >
    <p class="md:px-20 font-bold text-2xl md:text-5xl">
      Prayer
    </p>
    <p>
      If you're an alumni or a supporter and want to hear
      from us each term, fill out <a
        class="underline hover:text-leaf-800"
        href="https://imperialcollegechristianunion.us17.list-manage.com/subscribe?id=5a55b8241f&u=aebd551b2c04aaff5c909394e"
        >this form</a
      > and we'll put you on our mailing list.
    </p>
  </Section>
  <Section
    lightBackground
    additionalClass="text-leaf-500 pt-0"
  >
    <p class="md:px-20 font-bold text-2xl md:text-5xl">
      Donate
    </p>
    <div>
      <p>
        We are funded entirely by
        your donations; giving financially is a great way to
        take part in our mission.
      </p>
      <br />
      <p>
        We've partnered with Stewardship to make donating
        quick, easy and gift-aid friendly. Monthly
        donations are super helpful when budgeting, or you
        can send us a one-off gift. <a
          class="hover:text-leaf-800 underline"
          href="https://www.stewardship.org.uk/partners/20098524"
          >Click here to give.</a
        >
      </p>
      <br />
      <p>
        You can also donate through our <a
          class="hover:text-leaf-800 underline"
          href="https://www.imperialcollegeunion.org/shop/csp/christian-union/donation-0"
          >Student Union</a
        >, although we can't claim gift aid on this.
      </p>
    </div>
  </Section>
</Layout>
