---
interface Props {
  title: string;
  description: string;
  path: string;
  time: string;
  location: string;
  notWeekly?: boolean;
}

const {
  title,
  description,
  path,
  time,
  location,
  notWeekly,
}: Props = Astro.props;
---

<div
  class="flex px-3 py-5 flex-col justify-around rounded-xl shadow-md bg-leaf-100 text-leaf-600 flex-1 text-center gap-5"
>
  <p class="text-2xl font-bold md:text-3xl">{title}</p>
  <p>{description}</p>
  <p class="m-3">
    Every {notWeekly && "other "}<strong>{time}</strong> at <strong
      >{location}</strong
    >
  </p>
</div>
