---
import { app } from "../firebase/server";
import { getAuth, UserRecord } from "firebase-admin/auth";
import HeaderItem from "./HeaderItem.astro";

const auth = getAuth(app);

const sessionCookie = Astro.cookies.get("__session")?.value;
let user: UserRecord | null = null;

if (sessionCookie) {
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  user = await auth.getUser(decodedCookie.uid);
}
---

<header>
  <nav class="shadow-sm relative flex bg-leaf-500">
    <div
      class="max-w-screen-xl w-full flex flex-wrap items-center justify-between mx-auto p-3"
    >
      <a class="text-xl font-semibold" href="/">
        Imperial&nbsp;College Christian&nbsp;Union
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="items-center p-2 justify-center text-sm md:hidden"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-2 md:p-0 bg-leaf-500 gap-2 md:flex-row md:space-x-8"
        >
          <HeaderItem href="/events" label="Events" />
          <HeaderItem href="/calendar" label="Calendar" />
          <HeaderItem href="/about" label="About" />
          <HeaderItem href="/contact" label="Contact" />
          <HeaderItem href="/support-us" label="Support Us" />

          {
            user && (
              <li>
                <form action="/api/auth/signout">
                  <button
                    class="block p-2 rounded-sm w-full text-start bg-leaf-300 hover:text-leaf-500 hover:bg-gray-100"
                    type="submit"
                  >
                    Sign out
                  </button>
                </form>
              </li>
            )
          }
        </ul>
      </div>
    </div>
  </nav>
</header>
