---
---

<header>
  <nav class="shadow-sm relative bg-leaf-500">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3"
    >
      <a href="/">
        <span
          class="text-xl font-semibold"
          >Imperial College Christian Union</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="items-center p-2 justify-center text-sm md:hidden"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div
        class="hidden p-2 w-full md:block md:w-auto"
        id="navbar-default"
      >
        <ul
          class="font-medium flex flex-col md:p-0 bg-leaf-500 md:flex-row md:space-x-8"
        >
          <li>
            <a
              href="/events"
              class="block p-3 rounded-sm hover:text-leaf-500 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >Events</a
            >
          </li>
          <li>
            <a
              href="/about"
              class="block p-3 rounded-sm hover:text-leaf-500 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >About</a
            >
          </li>
          <li>
            <a
              href="/contact"
              class="block p-3 rounded-sm hover:text-leaf-500 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-300 md:p-0"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
