---
interface Props {
  lightBackground?: boolean;
  additionalClass?: string;
}

const { lightBackground, additionalClass = "" }: Props =
  Astro.props;
---

<div class={lightBackground ? "bg-leaf-50" : "bg-leaf-500"}>
  <div
    class={"py-14 max-w-screen-xl text-xl p-6 w-full flex flex-col gap-5 mx-auto md:text-2xl md:flex-row items-center justify-center md:gap-6 " +
      additionalClass}
  >
    <slot />
  </div>
</div>
