---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://unpkg.com/flowbite@1.4.4/dist/flowbite.js"
    ></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="/public/favicon.ico"
    />
    <title>{title}</title>
  </head>
  <body
    class="box-border bg-leaf-500 text-gray-100 h-screen"
  >
    <Header />
    <div class="min-h-[calc(100vh-160px)]">
      <slot />
    </div>
    <Footer />
  </body>
</html>
